<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="userService" class="com.dt2.demo.User">
		<property name="firstName" value="Quyen" />
		<property name="lastName" value="Le" />
	</bean>

</beans>